body{
    background-image: url("https://i.gifer.com/TTWo.gif");
    font-family: 'Brawler', serif;
}

:root{
  --green: #21F10C;
  --red: #F60404;
}

h1{
    color: var(--green);
    position: center;
    top: 70px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.imagen{
 flex-direction: row;
 display: flex;
 justify-content: center;
 margin-top: 50px;
}

.grezzo1{
  margin-left: 10px;
}

.grezzo2{
  margin-left: 10px;
}


.descripción{
  color: var(--green);
    top: 70px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.logo{
 position: absolute;
 right: 0;
 top: 0;
 display: block;
 height: 100px;
 width: 100px;
}

.logoG{
  height: 50px;
  width: 80px;
}

.contenedorPrincipal > .contenedor{
  display: flex;
  border: 5px solid var(--green);
  justify-content: center;
}

#item-imagen{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
